<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0,maximum-scale=2.0, minimum-scale=0.5, user-scalable=no,target-densitydpi=device-dpi">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>登录中...</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.png">
    <script type="text/javascript">
        GVR = {
            URL: {},
            ECHARTS: {},
            JSON: {},
            INTERVAL: {}
        };
    </script>
</head>
<body>
<div class="select-bg">
    <div class="hospital-content-auto">
        <div class="hospital-content display-middle">

        </div>
    </div>
    <div class="no-data-position position-absolute" style="display: none">
        <div class="table">
            <div class="table-cell">
                <div class="no-data">
                    <div class="line1">抱歉！</div>
                    <div class="line2">该医院尚未开通大屏功能，或您的账号未关联医院</div>
                    <div class="line3">如有疑问，请联系数联医信 ( 400 - 9637626 )</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="hospital_list_tpl">
    <a href="javascript:;" class="hospital-select-a" id="<%- id %>" data-name="<%- nameChinese %>">
        <div class="hospital-line">
            <div class="hospital-active">
                四
                <div class="active-icon"></div>
            </div>
            <div class="hospital-text"><%- nameChinese %></div>
        </div>
    </a>
</script>
<script type="text/javascript" src="jslib/jquery.min.js"></script>
<script type="text/javascript" src="jslib/underscore.js"></script>
<script type="text/javascript" src="own_js/index.js"></script>
</body>
</html>